.link {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  margin-left: 10px;
  font-size: 28px;
}

.active {
  color: aliceblue;

  font-weight: bold;
}
