.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #477405;
  background-color: #6fb98f;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.form {
  width: 300px;
  display: block;
}

.label {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 10px;
}

input {
  font-size: 16px;
  width: 100%;
  height: 25px;
  text-indent: 10px;
}

input:active,
input:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid rgb(83, 150, 226);
}

.btnAdd {
  display: block;
  margin: 5px 10px;
  background-color: #2c7873;
  /* color: rgb(0, 0, 0); */
  color: aliceblue;

  border-radius: 5px;
  border: solid 1px #004445;
  /* border: none; */
  cursor: pointer;
  width: 100%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}
.btnAdd:hover {
  background-color: #142c17ab;
  color: aliceblue;
}
