.btnDelete {
  cursor: pointer;
  height: 20px;
  background-color: inherit;
  color: rgb(207, 24, 11);
  border-radius: 5px;
  border: none;
  font-size: 12px;
}
.btnDelete:hover {
  background-color: rgb(224, 53, 53);
  color: #000;
}
.list {
  list-style: none;
  justify-content: space-between;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(226, 231, 236, 0.9);
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}
